<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">  <!--забезпечення правильної візуалізації та підтримки масштабованості на мобільних пристроях-->
    <title>@ViewBag.Title - Наряд</title> <!--имя вкладки, отображается в закладках-->

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" /> <!--библиотека bootstrap-->   
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" /> <!--Стиль jquery-ui-->   
    <link rel="stylesheet" type="text/css" href="~/Content/ComboBox.Autocomplete.css" /><!--файл с стилем autocomplete.combobox-->
    <link rel="stylesheet" type="text/css" href="~/Content/textAlignment.css" /><!--стиль с выравниванием текста-->
    <link href="~/Content/Loader.css" rel="stylesheet" /> <!--анимация загрузки Ajax-->
          
   
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> <!-- bootstrap -->
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@ 
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>   <!--Подключаем библиотеку JQuery-->
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>       <!--Подключаем библиотеку JQuery UI-->
    <script src="~/Scripts/notify.min.js"></script>             <!--Подключаем библиотеку notify (подсказки)-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>*@ <!--конвертирование HTML вPDF-->
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Turn", "", "", new { style = "font-size: 30px" })
            </div>
            <div class="navbar-collapse collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна сторінка", "Index", "Main")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукція</a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Наряд - акт", "Index", "Home")</li>
                            <li> @Html.ActionLink("Кубатурник", "Index", "Cubaturnic")</li>
                            <li> @Html.ActionLink("База даних", "Index", "WorkWithDatabase")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody() <!--метод который вставляет часть страницы-->

        <div id="loader"></div> @*индикатор загрузки*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Наряд - акт на виконання робіт</p>
        </footer>
    </div>
</body>
</html>

<!--Библиотеки подключать после кода окна, чтоб быстрее загружалась страница-->
<script src="~/Scripts/myJScript/addData.copyString.saveData.js"></script><!--Файл JS в котором будит обработчик нажатия кнопок-->
<script src="~/Scripts/myJScript/autocomplete.combobox.js"></script> <!--файл с кодом autocomplete.combobox-->
<script src="~/Scripts/myJScript/datepicker.languageUK.js"></script> <!--файл с кодом Украинского языка календаря и робота с датами-->
<script src="~/Scripts/myJScript/workTheTableFacial.js"></script><!--робота с ячейками таблицы Лицевая-->
<script src="~/Scripts/myJScript/workTheTableReverse.js"></script><!--робота с ячейками таблицы Обратная-->
<script src="~/Scripts/myJScript/editingTheDatabase.js"></script><!--робота с базой данных-->
<script src="~/Scripts/myJScript/printDocument.js"></script><!--печать наряда-->