<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">  <!--забезпечення правильної візуалізації та підтримки масштабованості на мобільних пристроях-->
    <title>@ViewBag.Title - Наряд</title> <!--имя вкладки, отображается в закладках-->
  
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" /> <!--Стиль jquery-ui-->

    @Styles.Render("~/Content/css")          @*стили*@

    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")      @*Подключаем библиотеку JQuery min*@
    @Scripts.Render("~/Scripts/bootstrap.min.js")         @*bootstrap.min*@
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")  @*Подключаем библиотеку JQuery UI min*@
    @Scripts.Render("~/Scripts/notify.min.js")            @*Подключаем библиотеку notify(подсказки)*@
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Turn", "", "", new { style = "font-size: 30px" })
            </div>
            <div class="navbar-collapse collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна сторінка", "Index", "Main")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукція</a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Наряд - акт", "Index", "Home")</li>
                            <li> @Html.ActionLink("Кубатурник", "Index", "Cubaturnic")</li>
                            <li> @Html.ActionLink("База даних", "Index", "WorkWithDatabase")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br /><br />
        @RenderBody() <!--метод который вставляет часть страницы-->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Наряд - акт на виконання робіт</p>
        </footer>
    </div>
</body>
</html>

@Scripts.Render("~/bundles/notify_validate")    @*Робота с Notifi и валидация*@
